/* app css stylesheet */

/*For bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*Manege animation on the home*/
.view-animate-container {
  position:relative;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
top:-1000px;
}
.view-animate.ng-enter.ng-enter-active {
top:0;
}

.view-animate.ng-leave {
top:0;
}
.view-animate.ng-leave.ng-leave-active {
top:1000px;
}

/*To manege study animation*/
.slide-animate-container {
  position:relative;
}

.slide-animate {
  padding:10px;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.slide-animate.ng-enter {
  left:100%;
}
.slide-animate.ng-enter.ng-enter-active {
  left:0;
}

.slide-animate.ng-leave.ng-leave-active {
  left:-100%;
}

body {
	margin-left: 0.1%;
	margin-right: 0.1%;
}

nav {
	background-color: #74c0fa;
}

p {
	font-size: 2em;  
}

.titleBar {
	background-image: url("rsc/img/BackgroundTitleBar.png");
	padding: 1.8%;
}

.img-rounded {
	padding: 2%;
}

.thumbnail {
	border: 3px #74c0fa solid;
	border: 3px #74c0fa solid;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.navbar {
	background-color: #74c0fa;
}

.navbar .nav > li > a {
    color:  white;
}

.glyphicon-home {
	color: white;
}

.pagination {
  margin-left: 40%;
  margin-right: 40%;
}