<div ng-controller="navBarCtrl">
  <div class="navbar-header">
    <a class="navbar-brand" href="#/home">
    	<span class="glyphicon glyphicon-home"></span>
    </a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
  		<li ng-repeat="txt in txts.buttons">
			  <a href=#/{{txt.link}} translate>{{txt.label}}</a>
      </li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
      <li class="dropdown" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
          <span translate>LANGUAGE</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="language in txts.languages">
            <a href translate ng-click="changeLanguage(language)">{{language}}</a>
          </li>
        </ul>
      </li>
    </ul>
	</div>
</div>