<div class="thumbnail">
	<h1 translate>SCHOOLS1.TITLE</h1>
	<div class="row">	
		<p class="col-md-6">
			<strong translate>SCHOOLS1.ROW1.YEAR</strong>
		</p>
		<p class="col-md-6">
			<span translate>SCHOOLS1.ROW1.DOUBLE_DIPLOMA</span><br/>
			<span translate>SCHOOLS1.ROW1.STUDY1</span><br/>
			<em translate>SCHOOLS1.ROW1.UNIVERSITY1</em></br>
			<span translate>SCHOOLS1.ROW1.STUDY2</span><br/>
			<em translate>SCHOOLS1.ROW1.UNIVERSITY2</em></br>
			<span translate>SCHOOLS1.ROW1.NOTE</span>
		</p>
	</div>

	<div class="row">	
		<p class="col-md-6">
			<strong translate>SCHOOLS1.ROW2.YEAR</strong>
		</p>
		<p class="col-md-6">
			<span translate>SCHOOLS1.ROW2.STUDY</span><br/>
			<em translate>SCHOOLS1.ROW2.UNIVERSITY</em>
		</p>
	</div>

	<div class="row">
		<p class="col-md-6">
			<strong translate>SCHOOLS1.ROW3.YEAR</strong>
		</p>
		<p class="col-md-6">
			<span translate>SCHOOLS1.ROW3.STUDY</span><br/>
			<em translate>SCHOOLS1.ROW3.UNIVERSITY</em>
		</p>
	</div>

	<div class="row">
		<p class="col-md-6">
			<strong translate>SCHOOLS1.ROW4.YEAR</strong>
		</p>
		<p class="col-md-6">
			<span translate>SCHOOLS1.ROW4.STUDY</span><br/>
			<em translate>SCHOOLS1.ROW4.UNIVERSITY</em>
		</p>
	</div>
</div>