<div class="thumbnail">
<!-- ng-style="{'padding-top': '10%'}" -->
	<div class="row">	
		<p class="col-md-6">
			<strong>2014-2015</strong>
		</p>
		<p class="col-md-6">
			Double diplomes :<br/>
			Maitrise en informatique concentration Jeux-Vidéo<br/>
			<em>UQAC (Université du Québec A Chicoutimi)</em></br>
			5e année Isen Brest<br/>
			<em>ISEN (Institut Supérieur de l'Electronique et du Numérique) Brest</em></br>
			(Année passée à l'UQAC)
		</p>
	</div>

	<div class="row">	
		<p class="col-md-6">
			<strong>2012-2014</strong>
		</p>
		<p class="col-md-6">
			3e-4e année option Génie Logiciel<br/>
			<em>ISEN (Institut Supérieur de l'Electronique et du Numérique) Brest</em>
		</p>
	</div>

	<div class="row">
		<p class="col-md-6">
			<strong>2010-2012</strong>
		</p>
		<p class="col-md-6">
			Cycle préparatoire MPSI/PSI<br/>
			<em>ISEN (Institut Supérieur de l'Electronique et du Numérique) Brest</em>
		</p>
	</div>

	<div class="row">
		<p class="col-md-6">
			<strong>2010</strong>
		</p>
		<p class="col-md-6">
			BAC S Sciences de l'Ingénieur, mention Assez Bien<br/>
			<em>Lycée Félix le Dantec de Lannion(22)</em>
		</p>
	</div>
</div>