<div class="thumbnail">
    <h1 translate>{{"PROJECTS." + projects.project7.name}}</h1>

    <p class="centerP"><em>{{dateParse(projects.project7.dateStart) | date:'MM/yyyy'}}</em></p>
    <img src={{projects.project7.img}}></br>
    <p class="centerP" translate>{{"PROJECTS." + projects.project7.description}}</p>

    <div ng-repeat="tech in projects.project7.technology">
        <div class="row">
            <div class="col-md-1">
                <!-- It's displaying th e details when we click on it -->
                <button class="btn btn-default progress-label" ng-click="isCollapsed = !isCollapsed" ng-disabled="!tech.details">
                    <span>{{tech.label}}</span>
                </button>
            </div>
            <div class="col-md-8">
                <progressbar class="fatProgress" value="tech.using">
                    <span>{{tech.using}}%</span>
                </progressbar>
            </div>
        </div>
        <!-- It's display if we click on the button above -->
        <div collapse="isCollapsed" class="well well-lg">
            <p ng-repeat="c in tech.details" translate>{{c}}</p>
        </div>
    </div>

    <ul class="list-inline" ng-if="projects.project7.linkGithub">
        <li>
            <img src="rsc/img/github_black.png"></img>
        </li>
        <li>
            <a href="{{projects.project7.linkGithub}}">{{projects.project7.linkGithub}}</a>
        </li>
    </ul>
</div>